# Build output
/out/
target/
build/

# IntelliJ IDEA files
.idea/
*.iws
*.iml
*.ipr

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db
desktop.ini

# Gradle
.gradle/
!gradle-wrapper.jar
**/build/

# Maven
log/
*.class
*.jar
*.war
*.ear

# Temporary files
*.swp
*.swo
*~